html {
    scroll-behavior: smooth;
}

body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.02em;
    background-image: linear-gradient(90deg,rgb(207, 156, 80)5%,rgb(216, 213, 191),rgb(219, 213, 157)65%,rgb(194, 86, 44));

}

header{
    width: 100%;
    top: 0;
    z-index: 5;
    position: sticky;
}

header div{
    text-align: center;
    height: 60px;
    padding-top: 5px;
    box-sizing: border-box;
    background-image: url("../img/headerImage.jpg");
    color: rgb(20, 7, 7);
    font-size: 2.5em;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-style: italic;
    font-weight: 700;
    
}

nav ul{
    display: flex;
    list-style-type: none;
    margin: 0;
    height: 40px;
    padding: 0;
    justify-content: center;
    align-items: stretch;
    
}

ul .about{
    flex: 2;
    text-align: right;
}

ul .git{
    flex: 2;
    text-align: left;
}

ul .git a{
    padding-left: 20%;
}

ul .about a{
    padding-right: 20%;
}

nav li{
    flex: 1;
    text-align: center;
    background-color: black;
    flex-direction: column;
    align-items: stretch;
    display: flex;
}


nav li a{
    flex-direction: column;
    padding: 10px 5%;
    align-items: stretch;
    flex: 1;
    background-color: rgb(46, 40, 40);
    text-decoration: none;
    color: white;
    border: 1px white solid;
}

nav li a:hover{
    background-color: black;
    text-decoration: none;
    color: white;
}

article{
    font-size: 1.2em;
    text-align: justify;
    
}

article p{
    padding: 0 20px;
}

article h1{
    text-align: center;
    margin: 30px 0;
    font-size: 2em;
    border-bottom: 2px solid black;
    padding-bottom: 10px;
}





.main{
    margin: 0;
    padding: 100px 10%;
}


.main aside{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(8, 61, 136);
}

.main aside span{
    color: black;
}

.main aside img{
    height: 200px;
    width: auto;
    border-radius: 50%;
    border: 1px solid black;
}

.main article p{
    margin-bottom: 12%;
}

footer{
    background-image: linear-gradient(90deg,rgb(207, 156, 80)5%,rgb(216, 213, 191),rgb(219, 213, 157)65%,rgb(194, 86, 44));
    border-top: 2px solid black;
    text-align: center;
}

footer p{
    margin:0;
    padding: 25px;
    font-size: 0.8em;
}



.picture .title{
    position: absolute;
    top: 0px;
    width: 100%;
    text-align: center;
    background-color: rgba(0,0,0,0.6);
    color: white;
    margin: 0;
    transition: all 1s ease-in-out;
    padding-top: 3px;
    padding-bottom: 3px;
}

.picture .desc
{
    position: absolute;
    width: 100%;
    bottom: 0px;
    color: white;
    text-align: center;
    margin: 0;
    padding-bottom: 5px;
    padding-top: 5px;
    background-color: rgba(0,0,0,0.6);
    z-index: 3;
    transition: all 1s ease-in-out;
    opacity: 0;
}

.picture{
    transition: all 1s ease-in-out;
    position: relative;
    z-index: 0;
    margin: 5%;
}

.picture img{
    width: 100%;
}

.picture:hover{
    transform: scale(1.1);
    z-index: 4;
}

.picture:hover .title{
    opacity: 0;
}

.picture:hover .desc{
    opacity: 1;
}

h1:before{
    display: block;
    content: "";
    margin-top:  -120px;
    height: 120px;
    visibility: hidden;
}
.portfolio{
    margin-bottom: 100px;
}

@media screen and (max-width: 1200px)
{
    ul .about{
        flex: 1;
        text-align: center;
    }
    
    ul .git{
        flex: 1;
        text-align: center;
    }

    ul .git a{
        padding-left: 0;
    }
    
    ul .about a{
        padding-right: 0;
    }

    ul .skills {
        flex: 1.5;
    }    
}